# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [16]:
USE BooksDB
SELECT TOP 10 COUNT(user_id) AS 'Number of Users'
FROM ratings
WHERE rating >
    (SELECT average_rating
      FROM books
   WHERE BooksDB.dbo.books.book_id = BooksDB.dbo.ratings.book_id)

Number of Users
40960

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [19]:
USE BooksDB
SELECT TOP 10 book_id
FROM books
WHERE ratings_count IN
    (SELECT book_id
     FROM books
     WHERE ratings_1 >= 1000
     OR ratings_5 < 1000)

book_id
28078
13206900
9915
43887
6023056
6342491
56034
37304
298230
24580

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [20]:
USE BooksDB
SELECT TOP 10 book_id
FROM books
WHERE book_id IN
    (SELECT book_id
     FROM books
     WHERE ratings_1 >= 1000
     AND ratings_5 < 1000);

book_id
8664368
23503361
6855294
12878667

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [22]:
USE BooksDB
SELECT TOP 10 book_id
   FROM books
   WHERE language_code IN (SELECT language_code
         FROM books
         WHERE language_code LIKE '%en-US%' 
         AND language_code NOT LIKE '%en-GB%')

book_id
41865
5907
1934
428263
113436
11
1162543
37435
1656001
6442769

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [24]:
SELECT tag_id, tag_name
FROM BooksDB.dbo.tags
WHERE tag_id IN (
    SELECT tag_id
    FROM BooksDB.dbo.book_tags
    WHERE count > 100000
    )

tag_id,tag_name
30574,to-read